{% include 'header.html' %}

<body>
    <div id="search">
        <div class="search-input-box">
            <div class="search-input-group">
                <div class="search-icon" type="button"></div>
                <input id="search-input" type="text" placeholder="Search">
            </div>
        </div>
        <ul id="search-info"></ul>
    </div>
    <div id="map"></div>
    <div id="location" style="display: none">
        <input type="text" id="start_lon" class="start_loc">
        <input type="text" id="start_lat" class="start_loc">
        <input type="text" id="dest_lon" class="dest_loc">
        <input type="text" id="dest_lat" class="dest_loc">
    </div>
    <script src="/static/js/maps.js"></script>
</body>

</html></title>
</head>
<body>

</body>
</html>